
body {
    text-align: center;
    margin-bottom: .625rem;
    font-family:'Arial Narrow Bold', sans-serif
}

button {
    cursor: pointer;
    padding: .625rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 1.25rem;
    border: 1px solid black;
    color: white;
    background-color: green;
}


button:hover {
    background-color: blue;
    border-color: red;
    transition-duration: 0.5s;
}

#password {
    color: rgb(89, 12, 161);
    font-size: 1.25rem;
}
